tecnologias_integracao/documents-uploader/src/main/resources/document-details.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.documentsuploader.soap.ti.com/documents"
	xmlns:tns="http://www.documentsuploader.soap.ti.com/documents"
	elementFormDefault="qualified">
	
	<xs:element name="GetDocumentDetailsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetDocumentDetailsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentDetails" type="tns:DocumentDetails" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="GetDocumentDetailsByNameRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetDocumentDetailsByNameResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentDetails" type="tns:DocumentDetails" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="GetDocumentDetailsByAuthorRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="author" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetDocumentDetailsByAuthorResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentDetails" type="tns:DocumentDetails" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="GetDocumentDetailsByLocationRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="location" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetDocumentDetailsByLocationResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentDetails" type="tns:DocumentDetails" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetDocumentDetailsByPublisherRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="publisher" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetDocumentDetailsByPublisherResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentDetails" type="tns:DocumentDetails" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetDocumentDetailsByUserIdRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="user_id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetDocumentDetailsByUserIdResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentDetails" type="tns:DocumentDetails" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="GetDocumentDetailsByTypeIdRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="type_id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetDocumentDetailsByTypeIdResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentDetails" type="tns:DocumentDetails" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetAllDocumentsDetailsRequest">
		<xs:complexType>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetAllDocumentsDetailsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentDetails" type="tns:DocumentDetails"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="CreateDocumentDetailsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentDetails" type="tns:DocumentDetails" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="CreateDocumentDetailsResponse">
		<xs:complexType>
			<xs:sequence>
			<!--  1 sucesso e 0 falha -->
				<xs:element name="status" type="tns:Status" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="UpdateDocumentDetailsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentDetails" type="tns:DocumentDetails" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="UpdateDocumentDetailsResponse">
		<xs:complexType>
			<xs:sequence>
			<!--  1 sucesso e 0 falha -->
				<xs:element name="status" type="tns:Status" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="DeleteDocumentDetailsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="DeleteDocumentDetailsResponse">
		<xs:complexType>
			<xs:sequence>
			<!--  1 sucesso e 0 falha -->
				<xs:element name="status" type="tns:Status" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="Status">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SUCCESS"></xs:enumeration>
			<xs:enumeration value="FAILURE"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="DocumentDetails">
		<xs:sequence>
			<xs:element name="id" type="xs:int"></xs:element>
			<xs:element name="name" type="xs:string"></xs:element>
			<xs:element name="author" type="xs:string"></xs:element>
			<xs:element name="publisher" type="xs:string"></xs:element>
			<xs:element name="location" type="xs:string"></xs:element>
			<xs:element name="pages" type="xs:int"></xs:element>
			<xs:element name="type_id" type="xs:int"></xs:element>
			<xs:element name="user_id" type="xs:int"></xs:element>
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:element name="GetDocumentTypeDetailsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetDocumentTypeDetailsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentTypeDetails" type="tns:DocumentTypeDetails" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="GetDocumentTypeDetailsByTypeRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="type" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetDocumentTypeDetailsByTypeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentTypeDetails" type="tns:DocumentTypeDetails" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="GetDocumentTypeDetailsByFormatRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="format" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetDocumentTypeDetailsByFormatResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentTypeDetails" type="tns:DocumentTypeDetails" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetAllDocumentTypesDetailsRequest">
		<xs:complexType>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetAllDocumentTypesDetailsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentTypeDetails" type="tns:DocumentTypeDetails"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="CreateDocumentTypeDetailsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentTypeDetails" type="tns:DocumentTypeDetails" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="CreateDocumentTypeDetailsResponse">
		<xs:complexType>
			<xs:sequence>
			<!--  1 sucesso e 0 falha -->
				<xs:element name="status" type="tns:Status" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="UpdateDocumentTypeDetailsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DocumentTypeDetails" type="tns:DocumentTypeDetails" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="UpdateDocumentTypeDetailsResponse">
		<xs:complexType>
			<xs:sequence>
			<!--  1 sucesso e 0 falha -->
				<xs:element name="status" type="tns:Status" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="DeleteDocumentTypeDetailsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="DeleteDocumentTypeDetailsResponse">
		<xs:complexType>
			<xs:sequence>
			<!--  1 sucesso e 0 falha -->
				<xs:element name="status" type="tns:Status" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="DocumentTypeDetails">
		<xs:sequence>
			<xs:element name="id" type="xs:int"></xs:element>
			<xs:element name="type" type="xs:string"></xs:element>
			<xs:element name="format" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>
		
	<xs:element name="GetUserDetailsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetUserDetailsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UserDetails" type="tns:UserDetails" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="GetUserDetailsByNameRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetUserDetailsByNameResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UserDetails" type="tns:UserDetails" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="GetUserDetailsByTypeRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="type" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetUserDetailsByTypeResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UserDetails" type="tns:UserDetails" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="GetUserDetailsByEmailRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="email" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetUserDetailsByEmailResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UserDetails" type="tns:UserDetails" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetAllUsersDetailsRequest">
		<xs:complexType>
		</xs:complexType>
	</xs:element>

	<xs:element name="GetAllUsersDetailsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UserDetails" type="tns:UserDetails"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="CreateUserDetailsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UserDetails" type="tns:UserDetails" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="CreateUserDetailsResponse">
		<xs:complexType>
			<xs:sequence>
			<!--  1 sucesso e 0 falha -->
				<xs:element name="status" type="tns:Status" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="UpdateUserDetailsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="UserDetails" type="tns:UserDetails" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="UpdateUserDetailsResponse">
		<xs:complexType>
			<xs:sequence>
			<!--  1 sucesso e 0 falha -->
				<xs:element name="status" type="tns:Status" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="DeleteUserDetailsRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="id" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="DeleteUserDetailsResponse">
		<xs:complexType>
			<xs:sequence>
			<!--  1 sucesso e 0 falha -->
				<xs:element name="status" type="tns:Status" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="UserDetails">
		<xs:sequence>
			<xs:element name="id" type="xs:int"></xs:element>
			<xs:element name="name" type="xs:string"></xs:element>
			<xs:element name="type" type="xs:string"></xs:element>
			<xs:element name="email" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType>	
	
</xs:schema>